li {
  display: inline;
  margin-left: 30px;
  font-size: 20px;
}

h4 {
  font-style: italic;
  text-align: center;
  width: auto;
  border: 3px solid darkgray;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px

}
.jumbotron {
  text-align: center;
  border-radius: 5px
}
#status {
 list-style-type: none;
 margin: 0;
 padding: 0;
 border: 1px solid #e7e7e7;
 background-color: lightgray;
}

#skatebro, #vapebro{
  display: none;
}
